<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src=<%= htmlWebpackPlugin.options.path %>/js/jquery.min.js></script>
    <link rel="stylesheet" href=<%= htmlWebpackPlugin.options.path %>/css/inc.css>
    <link rel="stylesheet" href=<%= htmlWebpackPlugin.options.path %>/css/dataServics.css>
    <title>dataservice</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
