#app{ width: 100%; height: 100%; display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-header{ background: #409eff;overflow: hidden;}
.headbar-container{ height: 100%;}
.headbar-container .el-badge__content.is-fixed {top: 18px;}
.headbar-container .el-badge__content {border: none;}

.row+.row {margin-top: 20px;}
.smallscroll::-webkit-scrollbar-track {background: #eaedf4;border-radius: 2px;}
.smallscroll::-webkit-scrollbar-thumb {background: #ccc;border-radius: 2px;}
.smallscroll::-webkit-scrollbar-button {display: none;}
.smallscroll::-webkit-scrollbar {height: 10px;width: 4px;}
.el-aside,.el-aside .el-menu{ background: #354357;border:none;}
.el-aside .el-menu-item{ color: #fff; text-align: center;}
.el-aside .el-menu-item.is-active{ color: #fff; background: #4a5769;}
.el-aside .el-menu-item:hover{ background: #414e61;}
.el-aside .el-menu-item,.el-aside .el-submenu__title{ height: 100px; line-height: 38px;}
.menuico{ width:100%; height: 52px; display: block;}
.menu_gl{ background: url(../img/menu_gl.png) no-repeat center 20px;}
.menu_fw{ background: url(../img/menu_fw.png) no-repeat center 20px;}
.menu_jk{ background: url(../img/menu_jk.png) no-repeat center 20px;}
.menu_set{ background: url(../img/menu_set.png) no-repeat center 20px;}
.menu_right{ background: url(../img/menu_right.png) no-repeat center 20px;}
.el-aside::-webkit-scrollbar {
    display: none;
}


/************ 概览 ************/
.gl-partbox{ height: 410px;}
.gl-partbox:last-child {
    height: auto;
}
.gl-partbox .el-col,.gl-partbox .box-card{ height: 100%;}
/* 系统概述 */
.gl-rowbox + .gl-rowbox { margin-top: 20px;}
.gl-rowbox .box-card .el-card__header{ color: #000; font-size: 18px; border: none; padding-bottom: 0;} 
.gl-rowbox .box-card .xtgsdata{ display: block; color: #606266; font-size: 26px;}
.gl-rowbox .box-card .xtgsname{ display: block; color: #909399; font-size: 16px;}
/* .gl-rowbox .el-tag{ height: 24px; line-height: 24px;} */
/* 最新服务异常 */
.gl-rowbox .box-card .more{ font-size: 14px; color: #909399; float: right; line-height: 24px; cursor: pointer;}


/************ 服务 ************/
.fw-rowbox-part .box-card{ cursor: pointer;} 
.fw-topico{ width: 100%; height: 48px; display:block;}
.fw-toppart{ text-align: center; padding-top: 10px; font-size: 16px; color: #606266;}
.fuwindex-ico{ background:url("../img/fuwindex_ico.png") no-repeat center 0; }
.shenh-ico{ background:url("../img/shenh_ico.png") no-repeat center 0; }
.zhuc-ico{ background:url("../img/zhuc_ico.png") no-repeat center 0; }
.guanl-ico{ background:url("../img/guanl_ico.png") no-repeat center 0; }
.shujuy-ico{ background:url("../img/shujuy_ico.png") no-repeat center 0; }
.on .fuwindex-ico{ background:url("../img/fuwindex_ico_on.png") no-repeat center 0; }
.on .shenh-ico{ background:url("../img/shenh_ico_on.png") no-repeat center 0; }
.on .zhuc-ico{ background:url("../img/zhuc_ico_on.png") no-repeat center 0; }
.on .guanl-ico{ background:url("../img/guanl_ico_on.png") no-repeat center 0; }
.on .shujuy-ico{ background:url("../img/shujuy_ico_on.png") no-repeat center 0; }
.fw-rowbox{ padding-bottom: 20px;}
.fw-rowbox .box-card-header-left{ width: 200px;} 
.fw-part-tag{ margin-bottom: 10px;}
.fw-part-card .box-card{ height: 310px;}

/*  height: 290px; */
.fw-rowbox .box-card .el-col{ margin: 10px 0;}
.fw-rowbox .box-card .el-card__header{ color: #303133; font-size: 16px; border: none; padding-bottom: 0;} 
.box-card .box-card-hbtn{ float: right;}
.fw-part-con{ margin-bottom: 12px; height: 120px; font-size: 14px; color: #606266; line-height: 24px;word-break:break-all; display:-webkit-box; -webkit-line-clamp:5; -webkit-box-orient:vertical;  overflow:hidden;}
.fw-part-foot{ border-top: 1px solid #e3e6ec; height: 64px; line-height: 64px; font-size: 14px;}
.fw-part-foot .target{ float: left; height: 64px; line-height: 64px;}
.fw-part-foot .target i{ display: inline-block; width: 24px; height: 24px; vertical-align: middle; background: #eee;}
.fw-part-foot .target span{ display: inline-block; color: #449afc;}
.fw-part-foot .count{ float: right; color: #606266;}
.navPart{ position: fixed; right: 20px; bottom: 15%;}
.navPart .el-button{ display: block; margin-bottom: 10px;}
.navPart .el-button+.el-button{ margin-left: 0;}

.fw-rowbox .el-table::before{ height: 0}
.colLeft{ float: left;}
.colRight{ float: right;}
.linkBlock .el-input{ width: 130px;}
.linkBlock .el-input .el-input__inner{ padding: 0 10px;}
.opaPart{ padding-bottom: 15px;}
.el-form-item{ margin-bottom: 20px!important;}
div.edui-box{ float: left;}
.edui-editor .edui-button-body{ height: 20px!important;}
.edui-editor .edui-editor-toolbarboxinner{ height: 30px!important;}
/* 服务注册 */
.regCon{ padding: 0 15%;}
.regH3{ color: #303133; font-size: 20px; text-align: center; padding: 60px 0 40px;}
.regCon .el-step__head.is-success{color: #449afc; border-color: #449afc;}
.regCon .el-step__title.is-success{ color: #909399;}
.regCon .el-step__head.is-process{color: #449afc; border-color: #449afc;}
.regCon .el-step__head.is-process .el-step__icon.is-text{ background: #449afc; color: #fff;}
.regCon .el-step__title.is-process{ color: #606266;}
.regCon .el-step__icon.is-text{ border: 1px solid;}
.regCon .el-step__icon{ height: 32px; width: 32px;}
.regCon .el-step__icon-inner{ font-weight:normal;}
.act_stepBox{ padding: 50px 0 30px;}
.formStep1{ text-align: center;}
.formStep1 .el-form-item__label{ color: #303133; padding: 0 0 20px!important;}
.formStep1 .el-radio-group label{ display: block; text-align: left;}
.formStep1 .el-radio{ margin-bottom: 20px;}
.formStep1 .el-radio+.el-radio{ margin-left: 0;}
.formStep3 .el-radio{ margin-right: 20px;}
.formStep3 .el-radio+.el-radio{ margin-left: 0; margin-right: 20px;}
.stepBtnr{ text-align: center;}
.act_stepBox .box-card{ cursor: pointer;}
.box-card .stepTypeBox{ height: 150px; line-height: 150px; text-align: center; font-size: 20px; color: #606266;}
.on .box-card .stepTypeBox{ color: #67c23a;}
.nozzleList{ margin-bottom: 30px;}
.nozz-label{ color: #606266; margin-bottom: 15px;}
.nozz-box{ position: relative;}
.addNozz{ margin-left: 10px!important;}
/* .addNozz{ position: absolute; right: 2px; top: 2px; z-index: 10;} */
/* .nozz-box .el-tabs--card>.el-tabs__header .el-tabs__nav{ border-top: none;}
.nozz-box .el-tabs__content{ padding: 5px 20px;} */
.act_stepBox .el-radio.is-bordered.is-bordered{ margin: 0 10px 5px 0;}
.act_stepBox .el-radio.is-bordered+.el-radio.is-bordered{ margin: 0 10px 5px 0;}
.dbType_sel .el-select{ display: block;}
.nozz-box .tips{ color: #606266; padding-bottom: 20px;}
.diag_tipsBox{ height: 500px; overflow: auto;}
.ObjRgpart{ margin-left: 10px;}
.nozz-box .el-transfer-panel{ width: 40%;}
.nozzsetPart{ padding: 30px 0 20px;}
.nozzsetPart .label{font-size: 14px; color: #606266; line-height: 32px;}
.nozzsetPart .boxrig{ text-align: right;}
.primary{ color: #449afc; cursor: pointer; display: inline-block; margin: 0 5px;}
.success{ color: #63c249; cursor: pointer; display: inline-block; margin: 0 5px;}
.danger{ color: #f66b6b; cursor: pointer; display: inline-block; margin: 0 5px;}
.addTab{ text-align: right;}
.addTab i{ border: 1px solid #449afc; color: #449afc; padding: 3px; cursor: pointer; margin: 10px 10px 0 0;}
.topFormBox{ margin-bottom: 30px;}
.topFormBox .el-form-item__label{ width: 100%!important; text-align: left; float: inherit;}
.topFormBox .el-form-item__content{ width: 100%!important; margin-left: 0!important;}
.top-label{font-size: 14px; color: #606266; line-height: 32px;}
.edui-default .edui-editor{ width: 100%!important;}
.edui-default .edui-editor-iframeholder{ width:100%!important;}

/* 服务接口详情 */
.main .el-tabs__nav{ white-space: normal;}
.main .el-tabs__nav-scroll{width: 150px;}
.main .left-box .el-tabs__nav-scroll{width: auto;}
.main .el-tabs__item{ height: auto; line-height: normal; padding-left: 0;padding-bottom: 10px}  
.exact .el-tabs__item{padding: 0 20px;height: 40px;line-height: 40px;}
.respBox{ padding: 0 20px 20px;}


.evalsbox .el-rate__icon{ font-size:14px!important;}
.evalsbox .el-rate__item{ margin-top: 4px;}

/* 头部导航 */
.header-li .person-center-link {display: block;margin-top: 14px;line-height: 32px;height: 32px;padding-left: 32px;background: url(../img/person.png) no-repeat left center;background-size: 32px 32px;-webkit-background-size: 32px 32px;}
.header-li .el-input__inner {border-radius: 14px;}

/* 登陆页面 */
.login-container .username-icon {vertical-align: middle;display: inline-block;width: 26px;height: 26px;background: url(../img/username.png) no-repeat center;background-size: 100% 100%;-webkit-background-size: 100% 100%;
}
.login-container .password-icon {vertical-align: middle;display: inline-block;width: 26px;height: 26px;background: url(../img/password.png) no-repeat center;background-size: 100% 100%;-webkit-background-size: 100% 100%;
}

/* 监控页面 */
#monitor .el-tabs__content {overflow: visible;}
#monitor-tabbox .el-tabs__nav-wrap::after {background-color: transparent;}
#monitor-tabbox .el-tabs--left .el-tabs__header.is-left {margin-right: 0;}
#monitor-tabbox .el-tabs--left {overflow: visible;}
/* 分页组件 BUG 了 */
.page-bar .el-input__icon {line-height: 14px;}


/* 上传头像组件样式 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px !important;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.role .el-checkbox+.el-checkbox {
    margin-left: 0;
}

.role .el-checkbox {
    margin-right: 30px;
}
