.el-tabs__content {
  overflow: auto;
}
.tab-circle {
  text-align: center;
  font-size: 14px;
  p {
    margin-top: 4px;
  }
}
.title {
  height: 40px;
  color: #303133;
  font-size: 18px;
  .title-span {
    vertical-align: bottom;
    display: inline-block;
    line-height: 32px;
  }
}
.name-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 24px;
  // font-weight: bold;
  line-height: 2em;
  padding: 20px 40px 20px 20px;
}
.itembox {
  height: 210px;
  position: relative;
}
.itembox:nth-child(1) {
  border-right: 1px solid #ebeef5;
}
.number-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  span {
    color: #409eff;
  }
  p {
    line-height: 1.7em;
  }
  p:nth-child(1) {
    // font-weight: bold;
    font-size: 20px;
  }
  p:nth-child(2) {
    // font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
  }
  p:nth-child(3),
  p:nth-child(4) {
    font-size: 14px;
  }
}
.tabbox-card {
  // height: 460px;
  // overflow: auto;
}
.keybox {
  border-right: 1px solid #ebeef5;
  text-align: center;
  &:last-child {
    border-right: none;
  }
  h2 {
    line-height: 2em;
    font-size: 30px;
    font-weight: normal;
    color: #303133;
  }
  div {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
  }
}
.tab-title {
  line-height: 40px;
}
.status-ft {
  float: right;
  font-weight: bold;
}
.up {
  color: #23d160;
}
.down {
  color: #cd0930;
}
.metadata{
  overflow: auto;
  table {
    width: 100%;
  }
  tr {
    border-bottom: 1px solid #ebeef5;
  }
  td {
    padding: .5em .75em;
  }
}

.inlinebox {
  text-align: center;
  p {
    line-height: 2em;
    font-size: 14px;
  }
}