<el-col :span="24" class="review-container">
  <el-card class="box-card">
    <el-button icon="el-icon-tickets">筛选</el-button>
    <el-table v-loading.body="listLoading" :data="tableData" style="width: 100%" height="580">
      <el-table-column prop="date" label="接口名称"></el-table-column>
      <el-table-column prop="name" label="所属服务"></el-table-column>
      <el-table-column prop="sfgk" label="是否公开"></el-table-column>
      <el-table-column prop="bb" label="版本"></el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          <el-tag :type="scope.row.zhtgs">{{scope.row.zht}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="150">
        <template slot-scope="scope">
          <el-button size="small" type="primary" @click="dialogVisible1 = true">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
  <!-- 审核弹出层 -->
  <el-dialog class="review-layer" :visible.sync="dialogVisible1" width="80%" :before-close="handleClose1">
    <el-col :span="12" class="left-box">
      <h2>根据身份证号码查询学籍号接口的新增审核</h2>
      <h5>基本信息</h5>
      <ol>
        <li>接口地址：http://www.91118.com/apo/test</li>
        <li>返回格式：
          <el-button type="primary" plain size="mini">JSON</el-button>
          <el-button type="success" plain size="mini">XML</el-button>
        </li>
        <li>请求方式：
          <el-button type="info" plain size="mini">GET</el-button>
          <el-button type="warning" plain size="mini">POST</el-button>
        </li>
        <li>请求示例：http://www.91118.com/apo/test?param1=xxx&param2=123</li>
        <li>接口备注：</li>
      </ol>
      <h5>请求参数说明</h5>
      <el-table :data="requestTableData" style="width: 100%">
        <el-table-column prop="key" label="名称">
        </el-table-column>
        <el-table-column prop="require" label="必填">
        </el-table-column>
        <el-table-column prop="type" label="类型">
        </el-table-column>
        <el-table-column prop="desc" label="说明">
        </el-table-column>
      </el-table>
      <h5>返回参数说明</h5>
      <el-table :data="responseTableData" style="width: 100%">
        <el-table-column prop="key" label="名称">
        </el-table-column>
        <el-table-column prop="require" label="必填">
        </el-table-column>
        <el-table-column prop="type" label="类型">
        </el-table-column>
        <el-table-column prop="desc" label="说明">
        </el-table-column>
      </el-table>
    </el-col>
    <el-col :span="12" class="right-box">
      <el-button type="primary">JSON</el-button>
      <el-button type="primary">XML</el-button>
      <h5>返回示例</h5>
      <pre>
          "swagger": "2.0",
          "info": {
              "description": "数据服务总线-管理后台接口",
              "version": "1.0.0-SNAPSHOT",
              "title": "数据服务总线",
              "contact": {
                  "name": "杭州天音计算机系统工程有限公司",
                  "url": "http://www.yd-jxt.com/",
                  "email": "171274313@qq.com"
              },
              "license": {
                  "name": "Apache License, Version 2.0",
                  "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
              }
            },
            "host": "192.168.0.111:8083",
            "basePath": "/dsb"
        </pre>
    </el-col>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="dialogVisible1 = false, dialogVisible2 = true">审核通过</el-button>
      <el-button type="danger" @click="dialogVisible1 = false">驳 回</el-button>
    </span>
  </el-dialog>
  <!-- 审核通过弹出层 -->
  <el-dialog class="review-complete-layer" title="审核即将完成发布" :visible.sync="dialogVisible2" width="30%" :before-close="handleClose2"
    center>
    <el-row>
      <el-col :span="12">对相应结果非对称加密</el-col>
      <el-col :span="12">
        <el-switch v-model="value1" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">是否需要格式转换</el-col>
      <el-col :span="12">
        <el-switch v-model="value2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">请选择格式转换的适配器</el-col>
      <el-col :span="12">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            下拉菜单
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>黄金糕</el-dropdown-item>
            <el-dropdown-item>狮子头</el-dropdown-item>
            <el-dropdown-item>螺蛳粉</el-dropdown-item>
            <el-dropdown-item>双皮奶</el-dropdown-item>
            <el-dropdown-item>蚵仔煎</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="dialogVisible2 = false">通 过</el-button>
      <el-button @click="dialogVisible2 = false">取 消</el-button>
    </span>
  </el-dialog>
</el-col>
