<div class="container" v-loading.body="listLoading">
  <h1>{{infoData.name}}</h1>
  <el-row class="top-nav">
    <el-col :span="24">
      <ul>
          <li>&emsp;服务商：
            <a href="javascript:;">天音智慧校园</a>
          </li>
          <li>分&emsp;类:&nbsp;
            <el-tag type="success">{{infoData.tagname}}</el-tag> 
          </li>
          <li>123456</li>
          <li>123456</li>
          <li>123456</li>
          <li>
            <el-rate v-model="valRate" disabled show-score text-color="#ff9900" score-template="{value}">
            </el-rate>
          </li>
          <li @click="$router.back(-1)">返回</li>
          <li>禁用/发布</li>
          <li>监控</li>
          <li>&nbsp;订阅/取消</li>
          <li>意见反馈</li>
          <li>加入收藏</li>
      </ul>
    </el-col>
  </el-row>
  <el-row :gutter="12">
    <el-col :span="15">
      <el-card shadow="always" class="card-item">
        <h5>服务简介</h5>
        <section>{{infoData.detail}}</section>
      </el-card>
    </el-col>
    <el-col :span="9">
      <el-card shadow="always" class="card-item">
        <div class="card-item-title">
          <h5>猜你喜欢</h5>
          <a href="javascript:;">换一批</a>
        </div>
        <div class="card-itembox">
          <div class="card-item-top">
            <span>学生分数查询</span>
            <el-button type="success" size="small">查看</el-button>
          </div>
          <div class="card-item-bottom">
            <li>天音智慧教育</li>
            <li>123456</li>
            <li>123456</li>
            <li><el-rate v-model="valRate" disabled show-score text-color="#ff9900" score-template="{value}"></el-rate></li>
          </div>
        </div>
        <div class="card-itembox">
          <div class="card-item-top">
            <span>学生分数查询</span>
            <el-button type="success" size="small">查看</el-button>
          </div>
          <div class="card-item-bottom">
            <li>天音智慧教育</li>
            <li>123456</li>
            <li>123456</li>
            <li><el-rate v-model="valRate" disabled show-score text-color="#ff9900" score-template="{value}"></el-rate></li>
          </div>
        </div>
      </el-card>
    </el-col>
  </el-row>
  <el-row :gutter="12" class="main">
    <el-col :span="24">
      <el-card shadow="always" class="card-item">
        <section>
          <el-radio-group v-model="tabPosition" style="margin-bottom: 30px;" :stretch="true">
            <el-radio-button label="left">API文档</el-radio-button>
            <el-radio-button label="top">错误代码</el-radio-button>
          </el-radio-group>
          <el-tabs :tab-position="tabPosition">
              <el-tab-pane label="获取当年学年学期">获取当年学年学期</el-tab-pane>
              <el-tab-pane label="获取年级列表">获取年级列表</el-tab-pane>
              <el-tab-pane label="获取年级列表">获取年级列表</el-tab-pane>
              <el-tab-pane label="获取班级查询学生信息">获取班级查询学生信息</el-tab-pane>
              <el-tab-pane label="根据年级查询学生信息">根据年级查询学生信息</el-tab-pane>
              <el-tab-pane label="通过学籍编号获取学生信息">通过学籍编号获取学生信息</el-tab-pane>
          </el-tabs>
        </section>
      </el-card>
    </el-col>
  </el-row>
</div>